.body {
    position: relative;
    height: 80vh;
    width:auto;
}

.text-container {
    width: 100%;
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

.main-title {
    font-size: 5rem;
    /* margin-bottom: 10px; */
    margin:0;
    margin-bottom: 15px;
    padding:0;
}
  

.location {
    font-size: 2rem;
    margin:0;
    padding:0;
}

@media (max-width: 1000px) {
  .main-title {
    font-size: 4rem;
  }
}

@media (max-width: 800px) {
    .main-title {
      font-size: 4rem;
    }
}

@media (max-width: 600px) {
    .main-title {
      font-size: 2.5rem;
    }
}
@media (max-width: 600px) {
    .location {
      font-size: 1.2rem;
    }
}

@media (max-width: 400px) {
    .main-title {
      font-size: 1.8rem;
    }
}
@media (max-width: 400px) {
    .location {
      font-size: 1rem;
    }
}
@media (max-width: 400px) {
    .text-container {
      top: 15%;
    }
}