.InKiplingBack {
    background-color: #c7dbbf;
    height: 100%;
    /* display: flex; */
    /* align-items: center; Center vertically */
    justify-content: center; /* Center horizontally */
}

.InKiplingContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.InKiplingCard {
    background-color: white;
    display:flex;
    height:80%;
    width:80%;
    border-radius: 2rem;
    padding: 1rem;
    column-gap:1rem;
}

/* .InkiplingCard img{
    max-width: 20rem;
} */

.InKiplingCard2 {
    background-color: white;
    display:flex;
    height:80%;
    width:80%;
    border-radius: 2rem;
    padding: 1rem;
    column-gap:1rem;
    margin-bottom: 1rem;
}